# 💱 Currency Symbol
VITE_CURRENCY={{ vite_currency | default('$') }}

# 🌐 Base API URL (Proxy to Backend)
VITE_BASE_URL={{ vite_base_url | default('http://localhost:3000/api') }}

# UI vuln toggle to mirror server if desired
VITE_VULNERABLE_UI_MODE={{ client_vulnerable_ui_mode | default(false) | ternary('true','false') }}

